@import "Elements.css";

input[type="text"],
input[type="file"] {
  width: 100%;
  transition: all 0.2s ease-in-out;
  /* border: 1px solid #ccc; */
}

input[type="text"]:focus,
input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: none !important;
  transform: translate(0, 0) scale(1.03);
}

.generated-image-wrap2 {
  background-color: #222222;
  /* max-width: fit-content;
  max-height: fit-content; */
  position: relative;
  height: 650px;
  /* width: 550px; */

  z-index: -9999;
}

.generated-content {
  z-index: 999;
}
/* .generated-image-wrap::before {
} */

.amirlab-title2 {
  display: flex;
  /* max-width: 80%; */
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* font-family: "Quicksand", sans-serif; */
  font-size: 20px;
  flex-wrap: nowrap;
}

.font-jost {
  font-family: "Jost", sans-serif;
}
.amirlab-title.job {
  /* text-transform: uppercase; */
}
.dbtn {
  max-width: 100%;
  word-wrap: break-word;
  text-align: left;
  padding: 12px;
  height: fit-content;
}

.font-lovelo {
  font-family: "Lovelo", sans-serif;
}
.success-in {
  display: flex;
  /* margin-top: 10px; */
  /* flex-grow: 10; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* width: 100px; */
}

.success-text {
  color: #faff00 !important;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 3px;
  word-spacing: 4px;
}

.journal-name {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 150%;
  text-transform: uppercase;
}

.journal-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.paper-title {
  overflow: hidden;
}
.paper-title .icon {
  float: left;
  margin-right: 10px;
}

.designation {
  text-align: justify;
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
}
.department {
  text-align: justify;
  max-width: 100%;
  text-align: center;
  word-wrap: break-word;
  font-family: "Carrois Gothic SC", sans-serif;
}

.paper-authors {
  overflow: hidden;
}

.paper-authors .icon {
  float: left;
  margin-right: 10px;
}

.paper-authors p {
  text-align: justify;
  font-family: "Carrois Gothic SC", sans-serif;
}
